@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Josefin+Sans&family=Poppins&display=swap');

h1{
    font-family: 'Dancing Script', cursive;
}
h4, h5{
    font-family: 'Josefin Sans', sans-serif;
}
.header-top{
    background-color: #081253;
}
.login-div{
    background-color: #F8EFF4;
    /* height: 100vh; */
}
.login-form{
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 10px 20px #888888;
}
.login-header{
    background-color: #3844CE;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
}
@media screen and (min-width: 995px) {
    .login-form{
        width: 35%;
    }
}
.input-calender{
    position: relative;
}
.calendar-button{
    background-color: white;
}
.calendar-container{
    position: absolute;
    left: 28%;
}
.regster-hover{
    text-decoration: none;
    color: aqua;
}
.error-message{
    border-left: 4px solid red;
    background-color: rgb(245, 206, 206);
    padding: 3px;
    color: red;
}
.success-message{
    border-left: 4px solid green;
    background-color: rgb(205, 255, 205);
    padding: 3px;
    color: green;
}
/* Admin Panel */
th, tr{
    font-family: 'Josefin Sans', sans-serif;
}
.delete-design{
   color: red;
}
.delete-design:hover{
    cursor: pointer;
}
/* Error Page */
.error-div{
    background-color: #F8EFF4;
    height: 100vh;
}